* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    font-family: 'Lato',"Microsoft YaHei","Hiragino Sans GB","SimHei,STHeiti";
    font-weight: 300px;
  
   
    /* border: 1px solid #8196ab !important; */
}
html, body {
    height: 100%;
}
body {
    margin: 0;
}

.container {
    width: 75%;
    margin: 20px auto 40px auto;
}
.row {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 100%;
}
.col-4 {
    width: 33.33%;
    text-align: center;
}
.col-6 {
    width: 50%;
}
.col-12 {
    width: 100%;
}
.row>.col-12>h2 {
    margin: 20px auto 0 10px;
    color: rgb(208, 208, 211);
}
.low-line {
    width: 100%;
    height: 5px;
}
.line {
    margin: 10px;
    height: 3px;
    width: 98%;
    background-color: #bbbbbb;

}
.logo {
    width :100px;
    height: 100px;
    text-align: center;
    color:#8196ab; 
}
img {
    max-width: 100%;
    padding: 10px;
    height: auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
   
}

h1,h3 {
    margin: 10px;
    font-weight: 12px;
    color: #bbbbbb;
    text-transform: uppercase;
    text-align: right;
}
h1 {
    font-size:56px;
}
h2 {
    margin: 0px;
    font-size: 30px;
    color: #8196ab;
}
h3 {
    font-size: 22px;
    
}
a {
    text-decoration: none;
    color: #8196ab;
    font-size: 15px;
    cursor: pointer;
}
a:hover,img:hover {
    transform: scale(1.5);
    transition: all .4s ease-in-out;
    color: rgb(48, 47, 47);
    display: inline-block;
}
#hero:hover {
    transform: scale(1);
}
@media screen and (min-width: 1200px) {
    .container {
      width: 1115px;
    }
  }

@media screen and (max-width: 1199px) and (min-width: 992px) {
    h1 {
      font-size: 55px;
    }
  }
  @media screen and (max-width: 991px) {
    .container {
      max-width: 750px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .col-4,
    .col-6 {
      width: 100%;
    }
    .middle {
      text-align: center;
    }
    .separator {
      height: 2px;
    }
    h1,
    h3,
    h2 {
        text-align: center;
    }
    h1 {
       font-size: 40px;
    }
    h3 {
        font-size:25px;
    }
    embed {
        width: 100px;
        height: 100px;
    }
  }

      

